apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
      exercise: "1.12"
  template:
    metadata:
      labels:
        app: log-output
        exercise: "1.12"
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
      volumes:
        - name: shared-data
          emptyDir: {}
      containers:
        - name: image-cache
          image: helstest99/dwk-image-cache:1.12
          imagePullPolicy: Always
          ports:
            - containerPort: 3001
          env:
            - name: PORT
              value: "3001"
            - name: DATA_DIR
              value: "/data"
            - name: TTL_MS
              value: "600000"
            - name: IMAGE_URL
              value: "https://picsum.photos/1200"
          volumeMounts:
            - name: shared-data
              mountPath: /data
          readinessProbe:
            httpGet:
              path: /healthz
              port: 3001
            initialDelaySeconds: 2
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /healthz
              port: 3001
            initialDelaySeconds: 10
            periodSeconds: 10

        - name: log-output
          image: helstest99/dwk-log-output:1.12
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          env:
            - name: PORT
              value: "3000"
            - name: DATA_DIR
              value: "/data"
            - name: IMAGE_CACHE_URL
              value: "http://127.0.0.1:3001/touch"
            - name: PINGPONG_URL
              value: "http://pingpong-svc/pingpong"
          volumeMounts:
            - name: shared-data
              mountPath: /data
          readinessProbe:
            httpGet:
              path: /healthz
              port: 3000
            initialDelaySeconds: 2
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /healthz
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 10
