apiVersion: apps/v1
kind: Deployment
metadata:
  name: dwk-project-step3
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dwk-project-step3
  template:
    metadata:
      labels:
        app: dwk-project-step3
    spec:
      containers:
        - name: app
          image: docker.io/helstest99/dwk-project-step3:20260118032414
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
          env:
            - name: PORT
              value: "3000"
            - name: APP_MESSAGE
              value: "Ciao! Questa risposta arriva da Kubernetes."
            - name: APP_COLOR
              value: "#198754"
          readinessProbe:
            httpGet:
              path: /healthz
              port: 3000
            initialDelaySeconds: 2
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /healthz
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 10
